django
speechrecognition
pyttsx3
pyaudio
requests
beautifulsoup4
openai
google-api-python-client
gtts
channels
apscheduler
twilio
pywhatkit
pynotifier
transformers
torch
datasets
huggingface-hub
Wikipedia-API