<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
</head>
<body>
    {% if user.is_authenticated %}
        <h1>{{user}}</h1>
        <h1>Welcome to Antenna AI Voice Assistance</h1>
        <p>We are glad to have you here!</p>
        <p>user logged in</p>
        <a href="/logout/">Logout</a>

    {% else %}
        <h1>Welcome to Antenna AI Voice Assistance</h1>
        <p>We are glad to have you here!</p>
        <p>user not logged in</p>
    {% endif %}   
</body>
</html>